
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h2{
    padding: 0px;
    margin: 0px;
}

h4{
    padding: 0px;
    margin: 0px;
    font-size: large;
}

img{
    width: 300px;
    height: 150px;
    border: white solid 5px;
    }

.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto auto auto 100px;
    grid-gap: 30px;
    padding: 50px;
    grid-template-areas:
    "hd"
    "mi"
    "m1"
    "m2"
    "sb"
    "ft";

}

.box{
    display: flex;
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    padding: 20px;
    background: #def8d6;
}

.headfoot{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    
}

.menuBar{
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    justify-content: space-around;
    background: #def8d6;

}

.content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}

.button {
    background-color: #106312;
    color: white;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-right: 70px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'merriweather';
}

.mainCat{
    color: #0e2584;;
}

.sideBarCat{
    color: #770003;
}

.archiveList{
    color: #106312;
}

.fa {
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: white;
    color: #3B5998;
  }
  
  .fa-twitter {
    background: white;
    color: #55ACEE;
  }
  
  .fa-linkedin {
    background: white;
    color: #007bb5;
  }
  
  .fa-youtube {
    background: white;
    color: #bb0000;
  }
  
  .fa-instagram {
    background: white;
    color: #125688;
  }
  

#header{
    grid-area: hd;
    border-bottom: 5px double black;
    font-family: 'Bangers', cursive;
    text-shadow: 3px 3px black;
    letter-spacing: 1px;
}

#main1{
    grid-area: m1;
}

#main2{
    grid-area: m2;
}

#sideBar{
    grid-area: sb;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu{
    grid-area: mi;
}

#footer{
    grid-area: ft;
    border-top: 5px double;
}

@media(min-width: 960px){
.container{
    display:grid;
    grid-template-columns: auto auto 200px;
    grid-template-rows: 100px 50px auto auto 100px;
    grid-gap: 30px;
    padding: 50px;
    grid-template-areas:
    "hd hd hd"
    "mi mi mi"
    "m1 m1 sb"
    "m2 m2 sb"
    "ft ft ft";

}
}
