@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import 'classCatagory.css';
@import 'Responsive.css';
@import url('BlogPage/eJohnsonBlogPost.css');

h1{
    font-size: 60px;
    font-style: normal;
    line-height: 1;
    font-weight: 600;
    color: #106312;
}

h2{
    padding: 0px;
    margin: 0px;
}

h4{
    padding: 0px;
    margin: 0px;
    font-size: large;
}

figcaption{
    font-size: small;
}

#header{
    grid-area: hd;
    border-bottom: 5px double black;
    font-family: 'Bangers', cursive;
    text-shadow: 3px 3px black;
    letter-spacing: 1px;
}

#main1{
    grid-area: m1;
}

#main2{
    grid-area: m2;
}

#sideBar{
    grid-area: sb;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu{
    grid-area: mi;
}

#footer{
    grid-area: ft;
    border-top: 5px double;
}