.container{
    display:grid;
    grid-template-columns: auto auto 200px;
    grid-template-rows: 100px 50px auto auto 100px;
    grid-gap: 30px;
    padding: 50px;
    grid-template-areas:
    "hd hd hd"
    "mi mi mi"
    "m1 m1 sb"
    "m2 m2 sb"
    "ft ft ft";
    
}

@media(max-width: 960px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 100% 50px auto auto auto 100px;
        grid-gap: 30px;
        padding: 50px;
        grid-template-areas:
        "hd"
        "mi"
        "m1"
        "m2"
        "sb"
        "ft";

    }

    .box{
        flex-direction: column;
    }

    .bodyImage{
        width: 100%;
        height: auto;
    }

}