blockquote{
  font-size: large;
}

.blogContainer{
  display:grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 100px 50px auto auto 100px;
  grid-gap: 30px;
  padding: 50px;
  grid-template-areas:
  "hd hd"
  "mi mi"
  "main sb"
  "main sb"
  "main sb"
  "ft ft";

}

.blogBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.authorInfo{
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.blogAvatar { 
  grid-area: 1 / 1 / 2 / 2; 
}

.blogPostInfo { 
  grid-area: 1 / 2 / 2 / 3; 
} 

  .fa-home {
    color: black;
  }

#main{
    grid-area: main;
}

#sideBar{
    grid-area: sb;
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    background: #def8d6;
    text-align: center;
}

#jarrBlogAvatar{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
}

#authorName{
  color: #0e2584;;
}

@media(max-width: 960px){
  .blogContainer{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 50px auto auto 100px;
    grid-gap: 30px;
    padding: 50px;
    grid-template-areas:
    "hd"
    "mi"
    "main"
    "sb"
    "ft";

}
  .blogBox{
    flex-direction: column;
  }

  .blogBodyImage{
    width: 100%;
    height: auto;
  }

}
