
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1{
  font-size: 60px;
  font-style: normal;
  line-height: 1;
  font-weight: 600;
  color: #106312;"
}

h2{
    padding: 0px;
    margin: 0px;
}

h4{
    padding: 0px;
    margin: 0px;
    font-size: large;
}

figcaption{
  font-size: small;
}

.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto auto 100px;
    grid-gap: 30px;
    padding: 50px;
    grid-template-areas:
    "hd"
    "mi"
    "main"
    "sb"
    "ft";

}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.headfoot{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.jarrMainAvatar {
  height: 110px;
  margin-bottom: 30px;
  border-radius: 50%;
 }

 .jarrBlogAvatar{
   height: 50px;
   width: 50px;
   border-radius: 50%;
 }

.menuBar{
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    justify-content: space-around;
    background: #def8d6;

}

.mainCat{
    color: #0e2584;;
}

.sideBarCat{
    color: #770003;
}

.archiveList{
    color: #106312;
}

.fa {
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-seedling {
    color: #106312;
  }

  .fa-home {
    color: black;
  }

  .fa-facebook {
    background: white;
    color: #3B5998;
  }
  
  .fa-twitter {
    background: white;
    color: #55ACEE;
  }
  
  .fa-linkedin {
    background: white;
    color: #007bb5;
  }
  
  .fa-youtube {
    background: white;
    color: #bb0000;
  }
  
  .fa-instagram {
    background: white;
    color: #125688;
  }
  

#header{
    grid-area: hd;
    border-bottom: 5px double black;
    font-family: 'Bangers', cursive;
    text-shadow: 3px 3px black;
    letter-spacing: 1px;
}

#main{
    grid-area: main;
}

#sideBar{
    grid-area: sb;
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    background: #def8d6;
    text-align: center;
}

#menu{
    grid-area: mi;
}

#footer{
    grid-area: ft;
    border-top: 5px double;
}

@media(min-width: 960px){
.container{
    display:grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100px 50px auto auto 100px;
    grid-gap: 30px;
    padding: 50px;
    grid-template-areas:
    "hd hd"
    "mi mi"
    "main sb"
    "main sb"
    "main sb"
    "ft ft";

}
}
